@{
    ViewData["Title"] = "Display News";
    string[] TableHeaders = new string[] {"Topic",
                                          "Title",
                                          "Summary",
                                          "Link"};
}

<div class="table">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                @{ 
                    foreach (var head in TableHeaders)
                    {
                        <th>
                            @head
                        </th>
                    }
                }
            </tr>
        </thead>
        <tbody>
            @{
                if (Model != null)
                {
                    foreach (var Data in Model)
                    {
                        <tr>
                            <td>@Data.Topic</td>
                            <td>@Data.Title</td>
                            <td>@Data.Summary</td>
                            <td>@Data.Link</td>
                        </tr>
                    }

                }
            }
        </tbody>

    </table>





</div>